 <section class="section-benefits">
        <div class="container">
          <ul class="section-benefits-list">
            <li class="benefits-item">
              <h3 class="benefits-item-title">01</h3>
              <p class="benefits-item-text">Swimming and water sports: try your hand at water skiing</p>
            </li>
            <li class="benefits-item">
              <h3 class="benefits-item-title">02</h3>
              <p class="benefits-item-text">Fishing: try to catch your own dinner</p>
            </li>
            <li class="benefits-item">
              <h3 class="benefits-item-title">03</h3>
              <p class="benefits-item-text">
                Sightseeing tours: take a shore or island tour, enjoy the views
                and sunsets from the water</p>
              </p>
            </li>

            <li class="benefits-item">
              <h3 class="benefits-item-title">04</h3>
              <p class="benefits-item-text">
                Rest and relaxation: read a book or listen to music while enjoying
                the outdoor atmosphere.
              </p>
            </li>
          </ul>
          <picture>
            <source srcset="/img/img-benefits-d.webp  1x, /img/img-benefits-d@2x.webp 2x" type="image/webp" media="(min-width: 1280px)"/>
            <source srcset="/img/img-benefits-t.webp  1x, /img/img-benefits-t@2x.webp 2x" type="image/webp" media="(min-width: 768px)"/>
            <source srcset="/img/img-benefits-m.webp  1x, /img/img-benefits-m@2x.webp 2x" type="image/webp" media="(max-width: 767px)"/>
              <img
                class="section-benefits-img"
                src="/img/img-benefits-m.webp"
                alt="Yacht bridge" 
                width="704"
                />
          </picture>
          
      </section>