<div class="mobile-menu" data-menu>
  <div class="container">
    <div class="menu-top">
      <a class="menu-logo" href="index.html">yachtjet</a>
      <button class="menu-close-btn" type="button" data-menu-close>
        <svg class="icon icon-Vector" width="16 height=16">
          <use href="/img/sprite.svg#icon-Vector"></use>
        </svg>
      </button>
    </div>
    <nav class="menu-nav">
      <a class="link" href="index.html#about">About</a>

      <a class="link" href="/src/index.html#yachts">Yachts</a>

      <a class="link" href="/src/index.html#reviews">Reviews</a>
    </nav>
    <ul class="menu-social-list">
      <li class="menu-social-list-item">
        <a class="link" href="https://www.instagram.com">
          <svg class="icon icon-instagram" width="19" height="19">
            <use href="/img/sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="menu-social-list-item">
        <a class="link" href="https://www.youtube.com">
          <svg class="icon icon-youtube" width="20" height="20">
            <use href="/img/sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
      <li class="menu-social-list-item">
        <a class="link" href="https://www.facebook.com">
          <svg class="icon icon-facebook" width="20" height="20">
            <use href="/img/sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
