<div class="page-rent" id="rent">
  <div class="container">
    <div class="page-rent-text-input">
      <h2 class="page-rent-title">Rent a yacht now</h2>
      <form
        class="page-rent-form"
        name="order-form"
        autocomplete="off"
        novalidate
      >
        <label for="user-name" class="visually-hidden"></label>
        <input
          type="text"
          id="user-name"
          name="user-name"
          placeholder="Full Name"
          required
        />
        <label for="user-email" class="visually-hidden"></label>
        <input
          type="email"
          id="user-email"
          name="user-email"
          placeholder="Email"
          required
        />
        <label for="user-phone" class="visually-hidden"></label>
        <input
          type="tel"
          id="user-phone"
          name="user-phone"
          placeholder="Phone number"
        />
        <label class="visually-hidden" for="user-comment"></label>
        <textarea
          class="comment"
          name="user-comment"
          placeholder="Comment"
        ></textarea>
        <button type="submit" class="page-rent-btn">Send</button>
      </form>
    </div>
    <img
      class="page-rent-img"
      srcset="/img/img-rent.webp 1x, /img/img-rent-@2x.webp 2x"
      alt="Yacht in the ocean"
      width="704"
    />
  </div>
</div>
