<section id="yachts" class="section-yachts">
  <div class="container">
    <h2 class="title-yachts">
      Choose your dream yacht and sail away into the sunset
    </h2>
    <ul class="yachts-list-selection">
      <li class="yacht-card">
        <img
          class="yacht-card-img"
          srcset="
            /img/img-yacht-arrow-d.webp    1x,
            /img/img-yacht-arrow-d@2x.webp 2x
          "
          alt="Arrow"
          width="345"
        />

        <h3 class="card-title">
          Arrow<span class="card-title-span">LUXURY YAHTS</span>
        </h3>
        <div class="card-text">
          <div class="card-text-terms">
            <p>LENGTH</p>
            <p>BUILDER</p>
            <p>BUILT</p>
            <p>GUESTS</p>
            <p>PRICE</p>
          </div>

          <div class="card-text-mean">
            <p>48m(155ft)</p>
            <p>Admiral</p>
            <p>2021</p>
            <p>11 in 5 cabins</p>
            <p>€33,500,000</p>
          </div>
        </div>
      </li>
      <li class="yacht-card two">
        <div class="yacht-img-wrap">
          <img
            class="yacht-card-img"
            srcset="
              /img/img-yacht-benetti-d.webp    1x,
              /img/img-yacht-benetti-d@2x.webp 2x
            "
            alt="Benetti"
            width="345"
          />
        </div>

        <h3 class="card-title">
          Benetti<span class="card-title-span">LUXURY YAHTS</span>
        </h3>
        <div class="card-text">
          <div class="card-text-terms">
            <p>LENGTH</p>
            <p>BUILDER</p>
            <p>BUILT</p>
            <p>GUESTS</p>
            <p>PRICE</p>
          </div>

          <div class="card-text-mean">
            <p>41m (133ft)</p>
            <p>Benetti</p>
            <p>2025</p>
            <p>10 in 5 cabins</p>
            <p>€23,210,000</p>
          </div>
        </div>
      </li>
      <li class="yacht-card three">
        <img
          class="yacht-card-img"
          srcset="
            /img/img-yacht-belleanna-d.webp    1x,
            /img/img-yacht-belleanna-d@2x.webp 2x
          "
          alt="Belle Anna"
          width="345"
        />

        <h3 class="card-title">
          Belle Anna<span class="card-title-span">LUXURY YAHTS</span>
        </h3>
        <div class="card-text">
          <div class="card-text-terms">
            <p>LENGTH</p>
            <p>BUILDER</p>
            <p>BUILT</p>
            <p>GUESTS</p>
            <p>PRICE</p>
          </div>

          <div class="card-text-mean">
            <p>50m(155ft)</p>
            <p>ISA</p>
            <p>2012</p>
            <p>12 in 6 cabins</p>
            <p>€21,000,000</p>
          </div>
        </div>
      </li>
    </ul>
    <a class="section-yacht-btn" href="#rent">Yacht rental</a>
  </div>
</section>
