<section id="yachts" class="section-yachts">
  <div class="container">
    <h2 class="title-yachts">
      Choose your dream<br class="br-yachts m" />
      yacht<br class="br-yachts t" />
      and<br class="br-yachts d" />
      sail away into<br class="br-yachts" />
      the sunset
    </h2>
    <ul class="yachts-list-selection">
      <li class="yacht-card">
        <picture>
          <source
            srcset="
              /img/img-yachts-arrow-d.webp 1x,
              /img/img-yachts-arrow-d@2x   2x
            "
            media="(min-width: 1280)"
          />
          <source
            srcset="
              /img/img-yacht-arrow-t.webp    1x,
              /img/img-yacht-arrow-t@2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="/img/yaht-arrow-m.webp 1x, /img/yaht-arrow-m@2x.webp 2x"
            media="(max-width: 767px)"
          />
          <img
            class="yacht-card-img"
            src="/img/yaht-arrow-m.webp"
            alt="Arrow"
            width="345"
          />
        </picture>

        <h3 class="card-title">
          Arrow<span class="card-title-span">LUXURY YAHTS</span>
        </h3>
        <div class="card-text">
          <div class="card-text-terms">
            <p>LENGTH</p>
            <p>BUILDER</p>
            <p>BUILT</p>
            <p>GUESTS</p>
            <p>PRICE</p>
          </div>

          <div class="card-text-mean">
            <p>48m(155ft)</p>
            <p>Admiral</p>
            <p>2021</p>
            <p>11 in 5 cabins</p>
            <p>€33,500,000</p>
          </div>
        </div>
      </li>
      <li class="yacht-card two">
        <picture>
          <source
            srcset="
              /img/img-yacht-benetti-d.webp 1x,
              /img/img-benetti-d@2x.webp
            "
            media="(min-width: 1280)"
          />
          <source
            srcset="
              /img/img-yacht-benetti-t.webp 1x,
              /img/img-benetti-t@2x.webp
            "
            media="(min-width: 768px)"
          />

          <img
            class="yacht-card-img"
            src="
              /img/img-yacht-benetti-t.webp "
            alt="Benetti"
            width="345"
          />
        </picture>

        <h3 class="card-title">
          Benetti<span class="card-title-span">LUXURY YAHTS</span>
        </h3>
        <div class="card-text">
          <div class="card-text-terms">
            <p>LENGTH</p>
            <p>BUILDER</p>
            <p>BUILT</p>
            <p>GUESTS</p>
            <p>PRICE</p>
          </div>

          <div class="card-text-mean">
            <p>41m (133ft)</p>
            <p>Benetti</p>
            <p>2025</p>
            <p>10 in 5 cabins</p>
            <p>€23,210,000</p>
          </div>
        </div>
      </li>
      <li class="yacht-card three">
        <picture>
          <source
            srcset="
              /img/img-yacht-belleanna-d.webp    1x,
              /img/img-yacht-belleanna-d@2x.webp
            "
            media="(min-width: 1280)"
          />
          <source
            srcset="
              /img/img-yacht-belleanna-t.webp    1x,
              /img/img-yacht-belleanna-t@2x.webp
            "
            media="(min-width: 768px)"
          />

          <img
            class="yacht-card-img"
            src="/img/img-yacht-belleanna-d.webp"
            alt="Belle Anna"
            width="345"
          />
        </picture>

        <h3 class="card-title">
          Belle Anna<span class="card-title-span">LUXURY YAHTS</span>
        </h3>
        <div class="card-text">
          <div class="card-text-terms">
            <p>LENGTH</p>
            <p>BUILDER</p>
            <p>BUILT</p>
            <p>GUESTS</p>
            <p>PRICE</p>
          </div>

          <div class="card-text-mean">
            <p>50m(155ft)</p>
            <p>ISA</p>
            <p>2012</p>
            <p>12 in 6 cabins</p>
            <p>€21,000,000</p>
          </div>
        </div>
      </li>
    </ul>
    <a class="section-yacht-btn" href="#rent">Yacht rental</a>
  </div>
</section>
