
.page-header {
   padding-left: 20px;
   padding-right: 20px;
  margin: 0 auto;
  background-color: transparent;
  position: absolute;
  top: 20px;
width: 100%;
display: flex;
justify-content: center;
z-index: 9;
}

.page-header .container {
  border: 1px solid #fbfbfb;
    border-radius: 8px;
   width: 100%;
    background: #fbfbfb;
  display: flex;
padding: 7px 20px;
max-width: 335px;
min-width: 285px;
justify-content: space-between;
}

.nav {
  display: flex;
}

.nav-logo {
  font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.03em;
    color: #1b414b;
    display: flex;
    align-items: center;
}

.nav-list {
  display: none;
}

.header-social-list {
  display: none;
}

.header-burger {
  display: flex;
}

.icon-burger {
stroke-width: 2.50px;
  stroke: #1b414b;

}


@media screen and (min-width: 768px) {

  .page-header {
      background:transparent;
      margin: 0 auto;
  }

  .page-header .container {
   padding: 4px 20px;
   margin: 0 auto;
    align-items: center;
    border: 1px solid #fbfbfb;
    border-radius: 8px;
    max-width: 704px;
  }
  
  .nav {
    gap: 113px;
    margin-right: auto;
  }
  .nav-logo {
    
      font-size: 20px;
     
     
  }

  .nav-list {
    display: flex;
    gap: 4px;
  }

  .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
   
  }

  .nav-item .link {
    background:rgba(27, 65, 75, 0.5);
    
      width: 91px;
    font-weight: 400;
      font-size: 9px;
    padding: 15px 24px;
      border-radius: 8px;
      line-height: 1.3;
      text-transform: uppercase;
      text-align: center;
      color: #fbfbfb;
  }

        .nav-item .link:hover,
        .nav-item .link:focus {
      background: #1B414B
    }

    .header-social-list {
      display: flex;
      gap: 8px;
    }

    .social-list-item .link {
      display: flex;
      justify-content: center;
      align-items: center;
      fill: #1b414b;
      width: 24px;
      height: 24px;
    }

        .social-list-item .link:hover,
        .social-list-item .link:focus {
          fill: #062730;
        }

  .icon-burger {
    display: none;
  }
 
}

@media screen and (min-width:1280px) {

  /* .page-header {
    max-width: 1080px;
   
  } */
 

    .page-header .container {
      max-width: 1080px;
      padding: 4px 30px;
    }

        .nav {
          gap: 296px;
        }


 

    .icon-burger {
      display: none;
    }
}